language = "bash"
run = ""
import art
import random
print(art.logo)

cards = [11, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10, 10, 10]

def new_card():
  return random.choice(cards)
  

player = [new_card(),new_card()]
computer = [new_card(), new_card()]

print(f"Player cards: {player}")
print(f"Computer cards: {computer}")

sum_player = sum(player)
print(sum_player)
sum_computer = sum(computer)
print(sum_computer)