language = "bash"
run = ""
import art
import random
print(art.logo)

cards = [11, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10, 10, 10]

def new_card():
  return random.choice(cards)
  

player = [new_card(),new_card()]
computer = [new_card(), new_card()]

print(f"Player cards: {player}")
print(f"Computer cards: {computer}")

sum_player = sum(player)
sum_computer = sum(computer)

blackjack = False

while not blackjack:
  if sum(player)<21:
    another = input("Another card? ")
  if another == "y":
    player.append(new_card())
    print(f"Player's cards: {player}")
  if sum(player)>21:
    print("Computer WINS!")
    blackjack = True
  if another == "n":
    if sum_computer<=16:
      computer.append(new_card())
    if sum_computer>16:
      print(f"Computer's cards: {computer}")
  if sum(computer)>21:
    print("Player WINS!")
    print(f"Computer's cards: {computer}")
    print(f"Player's cards: {player}")

    blackjack = True
